 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .boxes{
    background-color: blueviolet;
 }
 ul{
    text-decoration: none;
 }
 a{
    text-decoration: none;
}
#header{
    position: fixed;
    z-index: 999;
    width: 100%;
}
#header .boxes{
    width: 80%;
margin: 80%;
margin: auto;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;

}
#header .boxes .logo a{

    font-size: 2em;
color: white;
font-weight: 700px;
}
#header.boxes .nav-menu ul{
    display: flex;
    list-style: none;
}
#header .boxes .nav-menu ul li a{
    padding: 30px 15px ;
    display: inline-block;
    font-size: 20px;
    color: rgba(255, 0, 0, 0.247);
   font-weight: bolder;
}
#header .boxes .nav-menu ul li a:hover{
    color: blueviolet;
}
#favorite{
    width: 100%;
    height: 100vh;
    
}